*{
    padding: 0;
    margin: 0;
    font-family:cursive;
    color: black;
   
  }
body{
    background-color: black;
    background-image: url("https://i.pinimg.com/originals/37/34/52/37345207e6a0c74d621be0a995321e04.png");
background-repeat: no-repeat; 
background-size: cover;  
font-family: 'Domine', "serif";
  /*  height:130vh;
    width: 110%;*/
 /*   justify-content: center;
    align-items: center;*/
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding:20px 0;
}
.questions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    text-align: left;
 flex-wrap: wrap;
 gap: 40px;
 margin-left:30px;
  margin-top:30px;

}
.elem{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    opacity: 0.5;

}
.q{
    margin-bottom: 30px;
}

